[submodule "themes/lightbi-hugo"]
	path = themes/lightbi-hugo
	url = ../robs-light-bi
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/Robert-Riordan-UCD/hugo-video-fork.git
